@import "tailwindcss";

*{
    font-family: Outfit;
}

.font-ovo{
    font-family : Ovo;
}

.lightHover:hover {
  background-color: #edeae4;
}

.darkHover:hover {
  background-color: #2a004a;
}

.darkTheme {
  background-color: #11001f;
}

.grid-cols-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
